@keyframes hightlight {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@keyframes float {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	35% {
		opacity: 1;
	}

	65% {
		opacity: 1;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}